body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  .vagas .vaga {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }